block content
  h3 #{title}
  div.row
    div.col-md-2
        h4 Date
    div.col-md-2
        h4 Event Name
    div.col-md-2
        h4 Location
    div.col-md-2
        h4 Notes
    div.col-md-2
        h4 Flyer
    div.col-md-2
        h4 Route Sheet  
  div.row
    div.col-md-2
        p August 20 2016
    div.col-md-2
        p Pine Cone Enduro
    div.col-md-2
        p Moorestown, MI
    div.col-md-2
        p Family Enduro
    div.col-md-2
        a(href='http://www.lansingmotorcycleclub.org/flyers/Pine_Cone_2016.pdf', target='_blank') Pine Cone 2016
    div.col-md-2
        a(href='#', target='_blank') View
  div.row
    div.col-md-2
        p August 21 2016
    div.col-md-2
        p Jack Pine Enduro
    div.col-md-2
        p Moorestown, MI
    div.col-md-2
        p GAS MAP
    div.col-md-2
        a(href='http://www.lansingmotorcycleclub.org/flyers/Jack_Pine_2016.pdf', target='_blank') Jack Pine 2016
    div.col-md-2
        a(href='#', target='_blank') View

