block content
    section#intro.intro
      .slogan
        h2
          | WELCOME TO 
          span.text_color LMC
        h4 Home of the historic Jack Pine enduro.
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br