block content
  #intro.intro
  h3 #{title}
  div.row
    div.col-md-2
        h4 Date
    div.col-md-2
        h4 Event Name
    div.col-md-2
        h4 Notes
    div.col-md-2
        h4 Results  
  div.row
    div.col-md-2
        p August 23, 2015
    div.col-md-2
        p Jack Pine Enduro
    div.col-md-2
        p Adult Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2015_Results_Jack_Pine_National.pdf', target='_blank') View
  div.row
    div.col-md-2
        p August 22, 2015
    div.col-md-2
        p Pine Cone Enduro
    div.col-md-2
        p Family Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2015_Results_PineCone.pdf', target='_blank') View
  div.row
    div.col-md-2
        p August 24, 2014
    div.col-md-2
        p Jack Pine Enduro
    div.col-md-2
        p Adult Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2014_Results_Jack_Pine.pdf', target='_blank') View / 
        a(href='http://lansingmotorcycleclub.org/results/2014_Jack_Pine_Results_by_Class.pdf', target='_blank') By Class
  div.row
    div.col-md-2
        p August 23, 2014	
    div.col-md-2
        p Pine Cone Enduro
    div.col-md-2
        p Family Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2014_Results_PineCone.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 14, 2013
    div.col-md-2
        p Jack Pine Enduro
    div.col-md-2
        p Adult Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2013_Results_JackPine.pdf', target='_blank') View / 
        a(href='http://lansingmotorcycleclub.org/results/2013_Jack_Pine_Results_by_Class.pdf', target='_blank') By Class
  div.row
    div.col-md-2
        p July 13, 2013	
    div.col-md-2
        p Pine Cone Enduro
    div.col-md-2
        p Family Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2013_Results_PineCone.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 15, 2012
    div.col-md-2
        p Jack Pine Enduro
    div.col-md-2
        p Adult Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2012_jack_pine_results_summary.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 14, 2012
    div.col-md-2
        p Pine Cone Enduro
    div.col-md-2
        p Family Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2012_pine_cone_results_summary.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 17, 2011
    div.col-md-2
        p Jack Pine Enduro
    div.col-md-2
        p Adult Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2011_jack_pine_results_summary.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 16, 2011
    div.col-md-2
        p Pine Cone Enduro
    div.col-md-2
        p Family Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2011_Pinecone_Results_Summary.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 25, 2010
    div.col-md-2
        p Jack Pine Enduro
    div.col-md-2
        p Adult Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2010_jack_pine_results_summary.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 24, 2010
    div.col-md-2
        p Pine Cone Enduro
    div.col-md-2
        p Family Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2010_pinecone_results_summary.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 26, 2009
    div.col-md-2
        p Jack Pine Enduro
    div.col-md-2
        p Adult Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2009_jack_pine_summary.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 25, 2009
    div.col-md-2
        p Pine Cone Enduro
    div.col-md-2
        p Family Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2009_pine_cone_summary.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 27, 2008
    div.col-md-2
        p Jack Pine Enduro
    div.col-md-2
        p Adult Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2008_jack_pine_summary.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 26, 2008
    div.col-md-2
        p Pine Cone Enduro
    div.col-md-2
        p Family Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2008_pine_cone_summary.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 15, 2007
    div.col-md-2
        p Jack Pine Enduro
    div.col-md-2
        p Adult Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2007_Jack_Pine_Results_Summary.pdf', target='_blank') View
  div.row
    div.col-md-2
        p July 14, 2007
    div.col-md-2
        p Pine Cone Enduro
    div.col-md-2
        p Family Enduro
    div.col-md-2
        a(href='http://lansingmotorcycleclub.org/results/2007_Pine_Cone_Results_Summary.pdf', target='_blank') View
  div.row
    div.col-md-2
        p April 28, 2007
    div.col-md-2
        p Spring Pine Cone
    div.col-md-2
        p Family Enduro
    div.col-md-2
        a(href='http://www.moto-tally.com/d14/fes/Results.aspx', target='_blank') View  